In [37]:
#Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import time
import os

In [38]:
#site navigation
executable_path = {"executable_path": "C:\Program Files\chromedriver_win32\chromedriver"}
browser = Browser('chrome', **executable_path, headless=False)

NASA Mars News

In [39]:
#open url
mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)
#using bs to write it into html
html = browser.html
soup = bs(html, "html.parser")

In [40]:
mars_title = soup.find_all('div', class_='content_title')[0].text
mars_paragraph = soup.find_all('div', class_='article_teaser_body')[0].text
print(mars_title)
print(mars_paragraph)

Mars Now
The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative.

JPL Mars Space Images - Featured Image

In [43]:
#Open browser to url for JPL Featured Space Image
browser.visit("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")
html = browser.html
soup = bs(html, "html.parser")

In [49]:
image = soup.find("img", class_="thumb")["src"]
featured_image_url = "https://www.jpl.nasa.gov" + image
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24275-640x350.jpg

Mars Facts

In [56]:
# Use Pandas to scrape data
mars_facts = pd.read_html('https://space-facts.com/mars/')
#put mars facts into a table
df = mars_facts[0]
# Rename columns and set index
df.columns=['Parameter', 'Number']
df

              Parameter                         Number
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [57]:
#convert the data to a HTML table string
mars_facts_table = [df.to_html(classes='data table table-borderless', index=False, header=False, border=0)]
mars_facts_table

['<table border="0" class="dataframe data table table-borderless">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>']

Mars Hemispheres

In [58]:
# Open browser to USGS Astrogeology site
browser.visit('https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars')
html = browser.html
soup = bs(html, 'html.parser')